:root {
    --navyblue: rgb(8, 7, 15);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background: var(--navyblue);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    max-width: 500px;
    width: 100%;
}

h1 {
    margin-bottom: 10px;
    font-size: 24px;
    color: var(--navyblue);
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#generate {
    background-color: var(--navyblue);
    border: none;
    color: white;
    padding: 10px 15px;
    margin: 10px 0px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

#generate:hover {
    background-color: grey;
}