* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(36, 61, 94);
}

h1 {
    margin: 1em;
    font-size: 3em;
    background-color: rgb(96, 127, 153);
    border: 2px solid;
    padding: 0.2em;
    box-shadow: 0.1em 0.1em;
    
}

.container {
    border: 2px solid;
    border-radius: 1em;
    min-height: 20em;
    width: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(96, 127, 153);
    box-shadow: 0.1em 0.1em;
}

.input {
    margin: 2em;
    padding: 0 1em;
    font-size: 1em;
    width: 80%;
    height: 3em;
    border: 2px solid;
    box-shadow: 0.1em 0.1em;
}

.btn {
    margin: 2em;
    padding: 0 1em;
    font-size: 1em;
    font-weight: bold;
    width: 80%;
    height: 3em;
    background-color: rgb(255, 217, 0);
    border: 2px solid;
    box-shadow: 0.1em 0.1em;
}


.btn:hover {
    background-color: rgb(255, 229, 79);
}